@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  /* background-color: #21232F; */
}

A {text-decoration: none;}
/* 
html,body{
  background: rgb(20,20,20);
  text-align: center;
  height: 100%;
  overflow: hidden;
} */